/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'PT Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(../fonts/sans_bold.woff) format("woff");
}
@font-face {
  font-family: 'PT Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans Regular"), local("PTSans Regular"), url(../fonts/sans_regular.woff) format("woff");
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

a {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

body {
  font-family: "PT Sans Bold";
  font-size: 18px;
  font-weight: normal;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

.wrap {
  position: relative;
  max-width: 1195px;
  min-width: 1000px;
  margin: 0 auto;
}

.fl, .w-25, .w-30, .w-20 {
  float: left;
}

.fr {
  float: right;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 33.333%;
}

.w-20 {
  width: 20%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.h-padd {
  padding-left: 97px;
  padding-right: 97px;
}

.item-container {
  overflow: hidden;
}

.link-round {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 2px;
}
.link-round:hover {
  text-decoration: none;
}
.link-round.red {
  border-color: #d2363d;
}
.link-round.blue {
  color: #64c0ce;
  font-size: 15px;
  line-height: 32px;
  padding: 0 18px;
  border-radius: 16px;
  border-color: #64c0ce;
}
.link-round.blue:hover {
  color: #fff;
  background-color: #64c0ce;
}
.link-round-white {
  border-color: #fff;
}

header {
  position: relative;
  color: #d2363d;
  background-color: #f8f8f8;
}
header .wrap {
  height: 97px;
  padding-top: 27px;
  padding-bottom: 15px;
}
header .logo {
  line-height: 0;
}
header .head-main {
  text-align: center;
  max-width: 260px;
  line-height: 20px;
  margin-left: 380px;
}
header .head-contact {
  position: absolute;
  top: 10px;
  right: 0;
  text-align: center;
  line-height: 1;
}
header .head-contact ul {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  position: relative;
  padding-left: 40px;
  color: #F4373F;
}
header .head-contact ul:after {
  content: '';
  display: table;
  clear: both;
}
header .head-contact ul:before {
  content: url("img/icon-phone-red.png");
  position: absolute;
  top: -4px;
  left: 0;
}
header .head-contact li {
  float: left;
  margin: 0;
  white-space: nowrap;
}
header .head-contact li + li {
  margin-left: 25px;
}
header .head-contact .link-round {
  background-color: #F4373F;
  display: block;
  font-size: 14px;
  width: 115px;
  border-radius: 9px;
  line-height: 22px;
  background-color: #d2363d;
  margin: 0 auto 6px;
}
header .head-contact .place {
  font-family: 'PTSans Regular';
  font-size: 14px;
  display: inline-block;
  position: relative;
  color: #000;
  padding-left: 19px;
}
header .head-contact .place:before {
  content: url("img/place-black.png");
  position: absolute;
  top: -3px;
  left: 0;
}

[class*=title-] h1, [class*=title-] h2, [class*=title-] h3 {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.title-bnr {
  font-size: 43px;
  line-height: 49px;
  text-transform: uppercase;
  color: #d2363d;
  margin-bottom: 36px;
}
.title-lined {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 60px;
  padding: 0 305px;
}
.brown-grad .title-lined, .grey-grad .title-lined {
  color: #fff;
}
.brown-grad .title-lined .bg-el, .grey-grad .title-lined .bg-el {
  background-color: #fff;
}
.brown-grad .title-lined .bg-el:after, .grey-grad .title-lined .bg-el:after {
  border-color: #fff;
  background-color: transparent;
}
.brown-grad .title-lined .bg-el:before, .grey-grad .title-lined .bg-el:before {
  background: url("img/ttl-key-wh.png") no-repeat 0 0;
}
.title-lined span.bg-el {
  position: absolute;
  top: 50%;
  margin: -3px 0 0;
  width: 275px;
  height: 4px;
  background-color: #000;
  border-top: 1px solid #9aa6b4;
  border-bottom: 1px solid #9aa6b4;
}
.title-lined span.bg-el.left {
  left: 7px;
}
.title-lined span.bg-el.left:before {
  left: -7px;
}
.title-lined span.bg-el.left:after {
  left: 100%;
}
.title-lined span.bg-el.right {
  right: 7px;
}
.title-lined span.bg-el.right:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  right: -7px;
}
.title-lined span.bg-el.right:after {
  right: 100%;
}
.title-lined span.bg-el:before {
  content: '';
  width: 7px;
  height: 6px;
  background: url("img/ttl-key.png") no-repeat 0 0;
  position: absolute;
  top: 50%;
  margin-top: -3px;
}
.title-lined span.bg-el:after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  border: 1px solid #000;
  border-radius: 50%;
}
.title-lined h1, .title-lined h2, .title-lined h3 {
  font-size: 30px;
  line-height: 1;
}

.brown-grad {
  background: #202020;
  background: -webkit-linear-gradient(bottom, #202020, #332122);
  background: linear-gradient(to top, #202020, #332122);
}

.grey-grad {
  background: #202020;
  background: -webkit-linear-gradient(bottom, #202020, #212633);
  background: linear-gradient(to top, #202020, #212633);
}

.red {
  color: #d2363d;
}

.box-skew {
  display: inline-block;
  color: #fff;
  background-color: #d2363d;
  border-radius: 5px;
  padding: 12px 30px;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.box-skew h1, .box-skew h2, .box-skew h3 {
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: normal;
  line-height: 1.1;
  color: #fff;
  -webkit-transform: skewX(20deg);
  -moz-transform: skewX(20deg);
  -ms-transform: skewX(20deg);
  -o-transform: skewX(20deg);
  transform: skewX(20deg);
}

section.main-banner, div.main-banner {
  background: url("img/main-bnr-bg.jpg") no-repeat 0 0, #fff;
  background-size: cover;
  height: 495px;
  text-align: center;
  padding: 97px 20px 0;
}
section.main-banner .subtitle-bnr, div.main-banner .subtitle-bnr {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 55px;
}
section.main-banner .box-skew, div.main-banner .box-skew {
  padding: 20px 52px;
}
section.main-banner .box-skew h1, section.main-banner .box-skew h2, section.main-banner .box-skew h3, div.main-banner .box-skew h1, div.main-banner .box-skew h2, div.main-banner .box-skew h3 {
  font-size: 20px;
  line-height: 22px;
}
section.advantages, div.advantages {
  min-height: 445px;
  padding-top: 50px;
  padding-bottom: 50px;
}
section.advantages .item-conteiner, div.advantages .item-conteiner {
  padding-top: 5px;
}
section.advantages .item-adv, div.advantages .item-adv {
  position: relative;
  padding: 0 30px;
  text-align: center;
}
section.advantages .item-adv .info-img, div.advantages .item-adv .info-img {
  height: 125px;
  position: relative;
}
section.advantages .item-adv img, div.advantages .item-adv img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
section.advantages .item-adv .info-line, div.advantages .item-adv .info-line {
  padding-top: 45px;
  font-size: 22px;
  line-height: 30px;
  color: #d2363d;
}
section.advantages .item-adv .info-line.lg, div.advantages .item-adv .info-line.lg {
  padding-top: 28px;
}
section.offer, div.offer {
  padding-top: 67px;
  padding-bottom: 67px;
}
section.offer .title-lined, div.offer .title-lined {
  margin-bottom: 75px;
}
section.offer .item-container, div.offer .item-container {
  position: relative;
  padding: 25px 18px;
  background-color: #fff;
  border-radius: 3px;
  border-bottom: 2px solid #dadada;
}
section.offer .item-container:after, div.offer .item-container:after {
  content: '';
  display: table;
  clear: both;
}
section.offer .item-container:last-child, div.offer .item-container:last-child {
  border: 0;
}
section.offer .item-container + .item-container, div.offer .item-container + .item-container {
  margin-top: 20px;
}
section.offer .item-container .top-line, div.offer .item-container .top-line {
  clear: both;
  padding-bottom: 22px;
}
section.offer .item-container .top-line .box-skew, div.offer .item-container .top-line .box-skew {
  margin-left: 7px;
}
section.offer .item-container .top-line .link-round, div.offer .item-container .top-line .link-round {
  margin-top: 3px;
  margin-right: 2px;
}
section.offer .item-ofr, div.offer .item-ofr {
  text-align: center;
  line-height: 0;
  padding: 15px;
}
section.offer .item-ofr img, div.offer .item-ofr img {
  max-width: 100%;
}
section.certificate, div.certificate {
  padding-top: 60px;
  padding-bottom: 40px;
}
section.certificate .crt-item, div.certificate .crt-item {
  height: 240px;
  text-align: center;
  line-height: 0;
}
section.certificate .crt-item img, div.certificate .crt-item img {
  max-width: 90%;
}
section.partners, div.partners {
  padding-top: 40px;
  padding-bottom: 40px;
}
section.partners .title-lined, div.partners .title-lined {
  margin-bottom: 45px;
}
section.we, div.we {
  padding-top: 45px;
  padding-bottom: 45px;
}
section.we .title-lined, div.we .title-lined {
  margin-bottom: 35px;
}
section.we .item-container, div.we .item-container {
  margin: 0 -25px;
}
section.we .we-item, div.we .we-item {
  padding: 0 25px;
}
section.we .we-item .descr, div.we .we-item .descr {
  text-align: center;
  position: relative;
  color: #fff;
  background-color: #bd2c32;
  height: 180px;
  border-radius: 4px;
  overflow: hidden;
  padding: 35px 35px 0;
  margin: 0 0 20px;
}
@media screen and (max-width: 1140px) {
  section.we .we-item .descr, div.we .we-item .descr {
    padding: 30px 15px 0;
  }
}
section.we .we-item .descr:before, div.we .we-item .descr:before {
  content: '';
  width: 36px;
  height: 9px;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -18px;
  background: url("img/icon-key-lg.png") no-repeat 0 0;
}
section.we .we-item .descr:after, div.we .we-item .descr:after {
  content: '';
  width: 27px;
  height: 7px;
  position: absolute;
  bottom: 14px;
  left: 50%;
  margin-left: -13px;
  background: url("img/icon-key-sm.png") no-repeat 0 0;
}
section.we .we-item .descr p, div.we .we-item .descr p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 27px;
}
section.we .we-item .link-round, div.we .we-item .link-round {
  color: #d2363d;
  display: block;
  line-height: 43px;
  border-radius: 23px;
}
section.we .we-item .link-round:hover, div.we .we-item .link-round:hover {
  color: #fff;
  background-color: #d2363d;
}
section.clients, div.clients {
  padding-top: 72px;
  padding-bottom: 70px;
}
section.clients .title-lined, div.clients .title-lined {
  margin-bottom: 50px;
}
section.clients .more-info, div.clients .more-info {
  max-width: 380px;
  text-align: center;
  font-size: 30px;
}
section.clients .more-info .lead-line, div.clients .more-info .lead-line {
  font-size: 48px;
  line-height: 55px;
  color: #d2363d;
  margin-bottom: 7px;
}
section.clients .more-info p, div.clients .more-info p {
  padding: 0;
  margin: 0 0 5px;
}
section.map, div.map {
  overflow: hidden;
  position: relative;
  font-family: 'PT Sans Regular';
  color: #fff;
  background-color: #000;
}
section.map .red, div.map .red {
  font-family: 'PT Sans Bold';
  margin-right: 8px;
}
section.map .place, div.map .place {
  margin: 40px 0;
  position: relative;
  padding-left: 35px;
}
section.map .place:before, div.map .place:before {
  content: url("img/place-red.png");
  position: absolute;
  top: -5px;
  left: 0;
}
section.map .map-info, div.map .map-info {
  padding-top: 35px;
}
section.map .info, div.map .info {
  display: inline-block;
  vertical-align: top;
  margin-right: 205px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}
section.map .info .text, section.map .info .red, div.map .info .text, div.map .info .red {
  display: inline-block;
  vertical-align: top;
}
section.map .info .red img, div.map .info .red img {
  margin-right: 10px;
  vertical-align: middle;
}
section.map .addr-holder, div.map .addr-holder {
  font-family: "PT Sans Regular";
  position: absolute;
  top: 99px;
  left: 404px;
  z-index: 1;
  color: #fff;
  background-color: #d2363d;
  padding: 33px;
  border-radius: 4px;
}
section.map .addr-holder:after, div.map .addr-holder:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: -34px;
  left: 107px;
  border: 17px solid transparent;
  border-top-color: #d2363d;
  border-left-color: #d2363d;
}
section.map .addr-holder p, div.map .addr-holder p {
  margin: 0;
  line-height: 20px;
}
section.map .addr-holder p + p, div.map .addr-holder p + p {
  margin-top: 18px;
}

.ymaps-2-1-20-balloon__layout {
  font-family: "PT Sans Regular" !important;
  color: #fff !important;
  background-color: #d2363d !important;
  padding: 33px !important;
  border-radius: 4px !important;
  width: 165px !important;
}

.ymaps-2-1-20-balloon__content {
  font-size: 18px !important;
  background-color: #d2363d !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}

.ymaps-2-1-20-balloon__tail:after {
  background-color: #d2363d !important;
}

.ymaps-2-1-20-balloon__content {
  line-height: 25px !important;
}
.ymaps-2-1-20-balloon__content > * {
  height: auto !important;
  width: auto !important;
}

.img-box {
  text-align: center;
  overflow: hidden;
  margin-bottom: 40px;
}
.img-box .img-line {
  overflow: hidden;
  position: relative;
  height: 70px;
}
.img-box .img-line img {
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.img-box .name-line {
  white-space: nowrap;
  line-height: 1;
  font-size: 13px;
}

footer {
  padding-top: 19px;
  padding-bottom: 19px;
}
footer .center {
  text-align: center;
  margin-bottom: 12px;
}
footer .copy {
  margin: 0 !important;
  font-size: 12px;
}
