@import '_mixins';
@import '_normalize';

@font-face{
	font-family:'PT Sans Bold';
	font-style:normal;
	font-weight: normal;
	src:local('PT Sans Bold'),local('PTSans-Bold'),url(../fonts/sans_bold.woff) format('woff');
}

@font-face{
	font-family:'PT Sans Regular';
	font-style:normal;
	font-weight: normal;
	src:local('PT Sans Regular'),local('PTSans Regular'),url(../fonts/sans_regular.woff) format('woff');
}


*{
	box-sizing: border-box;

	&:before, &:after{
		box-sizing: border-box;
	}
}

a{
	@include prefix((
		transition: all .15s ease
		));
}

body{
	@include font('PT Sans Bold' 18px normal);
	background: #ffffff;
	-webkit-font-smoothing: antialiased;
	color: #000;
}

.wrap{
	position: relative;
	max-width: 1195px;
	min-width: 1000px;
	margin: 0 auto;
}

$red: #d2363d;
$blue: #64c0ce;

.fl{
	float: left;
}
.fr{
	float: right;
}

.w-25{
	width: 25%;
	@extend .fl;
}
.w-30{
	width: 33.333%;
	@extend .fl;
}
.w-20{
	width: 20%;
	@extend .fl;
}
.center{
	display: block;
	margin: {
		left: auto;
		right: auto;
	}
}

.h-padd{
	padding: {
		left: 97px;
		right: 97px;
	}
}

.item-container{
	overflow: hidden;
}

.link-round{
	color: #fff;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	border:{
		style: solid;
		width: 2px;
	}

	&:hover{
		text-decoration: none;
	}

	&.red{
		border-color: $red;
	}

	&.blue{
		color: $blue;
		font-size: 15px;
		line-height: 32px;
		padding: 0 18px;
		border-radius: 16px;
		border-color: $blue;

		&:hover{
			@include set-colors(#fff, $blue);
		}
	}

	&-white{
		border-color: #fff;
	}
}

header{
	position: relative;
	@include set-colors($red, #f8f8f8);

	.wrap{
		height: 97px;
		padding:{
			top: 27px;
			bottom: 15px;
		}
	}

	.logo{
		line-height: 0;
	}

	.head-main{
		text-align: center;
		max-width: 260px;
		line-height: 20px;
		margin-left: 380px;
	}

	.head-contact{
		@include absolute(top 10px right);
		text-align: center;
		line-height: 1;

		ul{
			margin: 0 0 10px;
			padding: 0;
			list-style: none;
			position: relative;
			padding-left: 40px;
			@include clearfix;
			color: #F4373F;
			&:before{
				content: url('img/icon-phone-red.png');
				@include absolute(top -4px left);
			}
		}

		li{
			float: left;
			margin: 0;
			white-space: nowrap;

			+ li{
				margin-left: 25px;
			}
		}

		.link-round{
			background-color: #F4373F;
			display: block;
			font-size: 14px;
			width: 115px;
			border-radius: 9px;
			line-height: 22px;
			background-color: $red;
			margin: 0 auto 6px;
		}

		.place{
			font:{
				family: 'PTSans Regular';
				size: 14px;
			}
			display: inline-block;
			position: relative;
			color: #000;
			padding-left: 19px;
			&:before{
				content: url('img/place-black.png');
				@include absolute(top -3px left);
			}
		}
	}
}

h1, h2, h3{
	[class*=title-] &{
		font-size: inherit;
		color: inherit;
		line-height: inherit;
		font-weight: normal;
		padding: 0;
		margin: 0;
	}
}

.title{
	&-bnr{
		font-size: 43px;
		line-height: 49px;
		text-transform: uppercase;
		color: $red;
		margin-bottom: 36px;
	}

	&-lined{
		text-align: center;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 60px;
		padding: 0 305px;

		.brown-grad &, .grey-grad & {
			color: #fff;
			.bg-el{
				background-color: #fff;
				&:after{
					border-color: #fff;
					background-color: transparent;
				}
				&:before{
					background: url('img/ttl-key-wh.png') no-repeat 0 0;
				}
			}
		}

		span.bg-el{
			@include absolute(top 50%);
			margin: -3px 0 0;
			@include size(275px, 4px);
			background-color: #000;
			border: {
				top: 1px solid #9aa6b4;
				bottom: 1px solid #9aa6b4;
			}
			&.left{
				left: 7px;
				&:before{
					left: -7px;
				}
				&:after{
					left: 100%;
				}
			}
			&.right{
				right: 7px;
				&:before{
					@include prefix((
						transform: rotateY(180deg)
						));
					right: -7px;
				}
				&:after{
					right: 100%;
				}
			}
			&:before{
				@include content(7px, 6px);
				background: url('img/ttl-key.png') no-repeat 0 0;
				@include absolute(top 50%);
				margin-top: -3px;
			}
			&:after{
				@include content(6px);
				@include absolute(top 50%);
				margin-top: -3px;
				border: 1px solid #000;
				border-radius: 50%;
			}
		}

		h1, h2, h3{
			font-size: 30px;
			line-height: 1;
		}
	}
}

.brown-grad{
	@include linear-gradient(to top, #202020, #332122);
}

.grey-grad{
	@include linear-gradient(to top, #202020, #212633);
}

.red{
	color: $red;
}

.box-skew{
	display: inline-block;
	@include set-colors(#fff, $red);
	border-radius: 5px;
	padding: 12px 30px;
	@include prefix((
		transform: skewX(-20deg)
		));

	h1, h2, h3{
		margin: 0;
		padding: 0;
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		font-weight: normal;
		line-height: 1.1;
		color: #fff;
		@include prefix((
			transform: skewX(20deg)
			));
	}
}

section, div{
	&.main-banner{
		background: url('img/main-bnr-bg.jpg') no-repeat 0 0, #fff;
		background-size: cover;
		height: 495px;
		text-align: center;
		padding: 97px 20px 0;

		.subtitle-bnr{
			color: #fff;
			font-size: 24px;
			line-height: 28px;
			text-transform: uppercase;
			margin-bottom: 55px;
		}

		.box-skew{
			padding: 20px 52px;

			h1,h2,h3{
				font-size: 20px;
				line-height: 22px;
			}
		}
	}
	&.advantages{
		min-height: 445px;
		padding: {
			top: 50px;
			bottom: 50px;
		}
		
		.item-conteiner{
			padding-top: 5px;
		}
		.item-adv{

			position: relative;
			padding: 0 30px;
			text-align: center;
			.info-img{
				height: 125px;
				position: relative;
			}
			img{
				@include absolute(top 50% left 50%);
				@include prefix((
					transform: translateX(-50%) translateY(-50%)
					));
			}

			.info-line{
				padding-top: 45px;
				font-size: 22px;
				line-height: 30px;
				color: $red;
				&.lg{
					padding-top: 28px;
				}
			}
		}
	}

	&.offer{
		padding:{
			top: 67px;
			bottom: 67px;
		}

		.title-lined{
			margin-bottom: 75px;
		}

		.item-container{
			position: relative;
			padding: 25px 18px;
			background-color: #fff;
			border-radius: 3px;
			border-bottom: 2px solid #dadada;			
			@include clearfix;

			&:last-child{
				border: 0;
			}

			+ .item-container{
				margin-top: 20px;
			}
			.top-line{
				clear: both;
				padding-bottom: 22px;
				.box-skew{
					margin-left: 7px;
				}
				.link-round{
					margin-top: 3px;
					margin-right: 2px;
				}
			}
		}

		.item-ofr{
			text-align: center;
			line-height: 0;
			padding: 15px;
			img{
				max-width: 100%;
			}
		}
	}

	&.certificate{
		padding: {
			top: 60px;
			bottom: 40px;
		}
		
		.crt-item{
			height: 240px;
			text-align: center;
			line-height: 0;
			img{
				max-width: 90%;
			}
		}
	}

	&.partners{
		padding: {
			top: 40px;
			bottom: 40px;
		}

		.title-lined{
			margin-bottom: 45px;
		}
	}

	&.we{
		padding: {
			top: 45px;
			bottom: 45px;
		}
		.title-lined{
			margin-bottom: 35px;
		}

		.item-container{
			margin: 0 -25px;
		}

		.we-item{
			padding: 0 25px;

			.descr{
				text-align: center;
				position: relative;
				@include set-colors(#fff, #bd2c32);
				height: 180px;
				border-radius: 4px;
				overflow: hidden;
				padding: 35px 35px 0;
				margin: 0 0 20px;

				@media screen and (max-width: 1140px){
					padding: 30px 15px 0;
				}

				&:before{
					@include content(36px, 9px);
					@include absolute(top 15px left 50%);
					margin-left: -18px;
					background: url('img/icon-key-lg.png') no-repeat 0 0;
				}

				&:after{
					@include content(27px, 7px);
					@include absolute(bottom 14px left 50%);
					margin-left: -13px;
					background: url('img/icon-key-sm.png') no-repeat 0 0;
				}

				p{
					margin: 0;
					padding: 0;
					font-size: 20px; 
					line-height: 27px;
				}
			}

			.link-round{
				color: $red;
				display: block;
				line-height: 43px;
				border-radius: 23px;

				&:hover{
					color: #fff;
					background-color: $red;
				}
			}
		}
	}

	&.clients{
		padding: {
			top: 72px;
			bottom: 70px;
		}

		.title-lined{
			margin-bottom: 50px;
		}

		.more-info{
			max-width: 380px;
			text-align: center;
			font-size: 30px;

			.lead-line{
				font-size: 48px;
				line-height: 55px;
				color: $red;
				margin-bottom: 7px;
			}

			p{
				padding: 0;
				margin: 0 0 5px;
			}
		}
	}

	&.map{
		overflow: hidden;
		position: relative;
		font-family:'PT Sans Regular';
		@include set-colors(#fff, #000);

		.red{
			font-family:'PT Sans Bold';
			margin-right: 8px;
		}

		.place{
			margin: 40px 0;
			position: relative;
			padding-left: 35px;
			&:before{
				content: url('img/place-red.png');
				@include absolute(top -5px left);
			}
		}

		.map-info{
			padding-top: 35px;
		}

		.info{
			@include ib(top);
			margin-right: 205px;
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 30px;

			.text, .red{
				@include ib(top);
			}

			.red img{
				margin-right: 10px;
				vertical-align: middle;
			}
		}

		.addr-holder{
			font-family: "PT Sans Regular";
			@include absolute(top 99px left 404px);
			z-index: 1;
			@include set-colors(#fff, $red);
			padding: 33px;
			border-radius: 4px;
			&:after{
				@include content(0);
				@include absolute(bottom -34px left 107px);
				border: 17px solid transparent;
				border-top-color: $red;
				border-left-color: $red;
			}

			p{
				margin: 0;
				line-height: 20px;

				+ p{
					margin-top: 18px;
				}
			}
		}
	}
}

.ymaps-2-1-20-balloon__layout{
	font-family: "PT Sans Regular" !important;
	color: #fff !important;
	background-color: $red !important;
	padding: 33px !important;
	border-radius: 4px !important;
	width: 165px !important;
}

.ymaps-2-1-20-balloon__content{
	font-size: 18px !important;
	background-color: $red !important;
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important;
}

.ymaps-2-1-20-balloon__tail:after{
	background-color: $red !important;
}

.ymaps-2-1-20-balloon__content {
	line-height: 25px !important;

	> *{
		height: auto !important;
		width: auto !important;
	}
}

.img-box{
	text-align: center;
	overflow: hidden;
	margin-bottom: 40px;

	.img-line{
		overflow: hidden;
		position: relative;
		height: 70px;
		img{
			max-width: 90%;
			@include absolute(top 50% left 50%);
			@include prefix((
				transform: translateX(-50%) translateY(-50%)
				));
		}
	}

	.name-line{
		white-space: nowrap;
		line-height: 1;
		font-size: 13px;
	}
}

footer{
	padding: {
		top: 19px;
		bottom: 19px;
	}

	.center{
		text-align: center;
		margin-bottom: 12px;
	}

	.copy{
		margin: 0 !important;
		font-size: 12px;
	}
}